#root {
  margin: 0;
  padding: 0;
}

.zones-container {
  max-height: 20svh; /* Accounts for browser UI on mobile */
}

.state-hover-3d {
  transform-style: preserve-3d;
  transform: scale(1) rotateX(10deg) translateY(7px); /* Lift the state up */
  transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  /* z-index: 999; */
  box-shadow: 0px 20px 30px 30px rgba(0, 0, 0, 1);
}

.zone-hover-3d {
  transform-style: preserve-3d;
  transform: scale(1) rotateX(10deg) translateY(7px); /* Lift the state up */
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  /* z-index: 999; */
  box-shadow: 0px 20px 30px 30px rgb(255, 255, 255);
}

.state-tooltip {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  font-size: 0.9rem;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.state-tooltip-hover {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.75); /* Dark background for dark mode */
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  z-index: 700;
}

.toast-mobile {
  margin: 10px;
  width: auto;
  max-width: 90%;
}

.toast-desktop {
  margin: 0;
  width: auto;
  max-width: 280px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

::-webkit-scrollbar-track {
  background-color: #333;
  border-radius: 6px;
}
